@import '/index.scss';

.content {
  margin-top: 100px;

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;

    .title {
      @extend %title;
    }

    .description {
      @extend %description;
    }
  }

  &__darkText {
    .title {
      color: $white-h;
    }

    .description {
      color: $white;
    }
  }

  &__testimonials {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;

    .testimonial {
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include card($bg-card-l);

      .name {
        font-size: 20px;
        color: $gray;
        margin-bottom: 25px;
      }

      .description {
        color: $gray-h;
        text-wrap: balance;
        font-size: 14px;
      }

      .date {
        color: $blue;
        margin-top: 15px;
        font-size: 15px;
      }
    }

    .darkTestimonial {
      @include card($bg-card-d);

      .name {
        color: $white-h;
      }

      .description {
        color: $white;
      }

      .date {
        color: $blue-a;
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    &__text {
      .title {
        font-size: 10vw;
      }

      .description {
        font-size: 15px;
      }
    }
  }
}
