@import '/index.scss';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 80px;
  height: 80px;

  p {
    color: $gray;
    background-color: $bg-card-l;
    box-shadow: $b-sh;
    font-size: 27px;
    padding-inline: 30px;
    padding-block: 5px;
    border-radius: 30px;
  }

  img {
    position: absolute;
    top: 48px;
    left: 30px;
    rotate: -20deg;
    width: 50px;
    z-index: -1;
  }
}

.darkContent {
  p {
    color: $white-h;
    background-color: $bg-card-d;
  }
}
