@import '/index.scss';

.overlay {
  @extend %popup-overlay;

  .wrapper {
    @extend %popup-wrapper;

    .content {
      @extend %popup-content;

      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        @include round-btn($gray, $white, 24px, 6px);
        @include hover-btn($gray-h);
        @include active-btn($gray-a);
        @include media-btn($gray);
      }
    }

    .darkContent {
      @extend %popup-darkContent;

      .close {
        @include round-btn($white, $gray, 24px, 6px);
        @include hover-btn($white-h);
        @include active-btn($white-a);
        @include media-btn($white);
      }
    }
  }
}
