%round-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: $b-sh;
  transition: $tr-btn;
}

%regular-btn {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: $b-sh;
  transition: $tr-btn;
  font-family: 'Russo One', sans-serif;
}
