@import './mixins.scss';

%round-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: $b-sh;
  transition: $tr-btn;
}

%regular-btn {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: $b-sh;
  transition: $tr-btn;
  font-family: 'Russo One', sans-serif;
}

%input {
  border-radius: 10px;
  transition: $tr-btn;
  font-family: 'Russo One', sans-serif;
}

%card {
  padding-inline: 35px;
  padding-block: 20px;
  border-radius: 20px;
  box-shadow: $b-sh;
}

%title {
  margin-bottom: 30px;
  font-size: 80px;
  color: $gray;
}

%description {
  color: $gray-h;
  font-size: 17px;
  text-wrap: balance;
}

%submit-successful-btn {
  cursor: auto;
  opacity: 0.5;
  @include regular-btn($blue, $white-a, 17px, 20px, 10px);
  @include hover-btn($blue);
  @include active-btn($blue);
  @include media-btn($blue);
}

%submit-successful-input {
  opacity: 0.5;
}
