@mixin round-btn($bg-color, $color, $font-size, $padding) {
  @extend %round-btn;
  background-color: #{$bg-color};
  color: #{$color};
  font-size: #{$font-size};
  padding: #{$padding};
}

@mixin regular-btn($bg-color, $color, $font-size, $padding-i, $padding-b) {
  @extend %regular-btn;
  background-color: #{$bg-color};
  color: #{$color};
  font-size: #{$font-size};
  padding-inline: #{$padding-i};
  padding-block: #{$padding-b};
}

@mixin availability($color, $svg-color) {
  @extend %availability;
  color: #{$color};
  svg {
    color: #{$svg-color};
  }
}

@mixin input(
  $bg-color,
  $color,
  $border,
  $font-size,
  $padding-i,
  $padding-b,
  $border-f,
  $place-h,
  $color-s
) {
  @extend %input;
  background-color: #{$bg-color};
  color: #{$color};
  border: 2px solid #{$border};
  font-size: #{$font-size};
  padding-inline: #{$padding-i};
  padding-block: #{$padding-b};
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #{$bg-color} inset;
    -webkit-text-fill-color: $gray;
    &::selection {
      -webkit-box-shadow: 0 0 0px 1000px $gray inset;
      -webkit-text-fill-color: #{$color-s};
    }
  }
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #{$bg-color} inset;
  }
  &::placeholder {
    color: #{$place-h};
  }
  &:focus {
    border: 2px solid #{$border-f};
  }
}

@mixin card($bg-color) {
  @extend %card;
  background-color: #{$bg-color};
}

@mixin hover-btn($bg-color, $color: null) {
  &:hover {
    background-color: #{$bg-color};
    color: #{$color};
  }
}

@mixin active-btn($bg-color, $color: null) {
  &:active {
    background-color: #{$bg-color};
    color: #{$color};
  }
}

@mixin media-btn($bg-color, $color: null) {
  @media (max-width: 1000px) {
    &:hover,
    &:active {
      background-color: #{$bg-color};
      color: #{$color};
    }
  }
}

@mixin product-border($color) {
  @extend %product-border;
  border: 2px solid #{$color};
}
