$b-sh: 1px 1px 7px rgba(0, 0, 0, 0.3);
$tr-btn: 0.3s;

$bg: linear-gradient(to left, #dddddd, #d3d3d3);
$bg-dark: linear-gradient(to left, #545454, #454545);

$bg-card-l: #e7e7e75f;
$bg-card-d: #a4a4a45f;

$gray: #353535;
$gray-h: #474747;
$gray-a: #545454;
$gray-a-alt: #606060;

$white: #b6b6b6;
$white-h: #d3d3d3;
$white-h-alt: #ababab;
$white-a: #e7e7e7;
$white-a-alt: #9c9c9c;

$blue: #296d9b;
$blue-h: #367cac;
$blue-a: #428bbc;

$violet: #923ee0;
$violet-h: #9c49ea;
$violet-a: #a656f1;

$red: #8b0606;
$red-h: #9c1111;
$red-a: #ae1b1b;
