@import '/index.scss';

.content {
  margin-top: 100px;

  .title {
    @extend %title;
    text-align: center;
  }

  .titled {
    @extend %description;
    text-align: center;
    margin-bottom: 100px;
  }

  .buttons {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    button {
      @include regular-btn(transparent, $blue, 17px, 15px, 5px);
      @include hover-btn(transparent, $blue-h);
      @include active-btn(transparent, $blue-a);
      @include media-btn(transparent, $blue);
      box-shadow: none;
      letter-spacing: 2.2px;
    }

    .activeButton {
      @include regular-btn($blue, $white-a, 17px, 15px, 5px);
      @include hover-btn($blue, $white-a);
      @include active-btn($blue, $white-a);
      @include media-btn($blue, $white-a);
    }

    p {
      color: $gray;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    height: 200px;
  }

  .warning {
    font-size: 11px;
    color: $gray;
    text-align: center;
    margin-top: 100px;
    text-wrap: balance;
  }
}

.darkContent {
  .title {
    color: $white-h;
  }

  .titled {
    color: $white;
  }

  .buttons {
    button {
      @include regular-btn(transparent, $blue-a, 17px, 15px, 5px);
      @include hover-btn(transparent, $blue-h);
      @include active-btn(transparent, $blue);
      @include media-btn(transparent, $blue-a);
    }

    .activeButton {
      @include regular-btn($blue-h, $white-a, 17px, 15px, 5px);
      @include hover-btn($blue-h, $white-a);
      @include active-btn($blue-h, $white-a);
      @include media-btn($blue-h, $white-a);
    }

    p {
      color: $white-h;
    }
  }

  .warning {
    color: $white-h;
  }
}

@media (max-width: 700px) {
  .content {
    .title {
      font-size: 10vw;
    }

    .titled {
      font-size: 15px;
    }
  }
}
