@import '/index.scss';

.content {
  margin-top: 150px;
  text-align: center;

  .title {
    @extend %title;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      @extend %description;
    }
  }

  button {
    width: 160px;
    margin-top: 20px;
    @include regular-btn($violet, $white-a, 17px, 20px, 10px);
    @include hover-btn($violet-h);
    @include active-btn($violet-a);
    @include media-btn($violet);
  }
}

.darkContent {
  .title {
    color: $white-h;
  }

  .description {
    p {
      color: $white;
    }
  }
}

@media (max-width: 700px) {
  .content {
    .title {
      font-size: 10vw;
    }

    .description {
      p {
        font-size: 15px;
      }
    }
  }
}
