@import '/index.scss';

.content {
  margin-top: 100px;

  .leaveYour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 160px;
    @include regular-btn($violet, $white-a, 17px, 20px, 10px);
    @include hover-btn($violet-h);
    @include active-btn($violet-a);
    @include media-btn($violet);
  }

  .popup {
    display: flex;
    flex-direction: column;

    .submitSuccessfulTextarea {
      @extend %submit-successful-input;
    }

    textarea {
      resize: none;
      width: 400px;
      height: 150px;
      margin-top: 15px;
      z-index: 3;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @include input(
        $white-h,
        $gray,
        $white,
        17px,
        15px,
        12px,
        $gray,
        #9f9f9f,
        $white
      );
    }

    div {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .send {
        width: 160px;
        height: 40px;
        @include regular-btn($blue, $white-a, 17px, 20px, 10px);
        @include hover-btn($blue-h);
        @include active-btn($blue-a);
        @include media-btn($blue);
      }

      .submitSuccessfulBtn {
        @extend %submit-successful-btn;
      }

      .cancel {
        @include regular-btn($violet, $white-a, 17px, 20px, 10px);
        @include hover-btn($violet-h);
        @include active-btn($violet-a);
        @include media-btn($violet);
      }

      p {
        display: flex;
        align-items: center;
        color: $red-a;
        gap: 4px;
        font-size: 14px;

        svg {
          font-size: 20px;
          color: $red;
        }
      }
    }
  }

  .darkPopup {
    textarea {
      @include input(
        $white-h-alt,
        $gray,
        $white-a-alt,
        17px,
        15px,
        12px,
        $white-h,
        #828282,
        $gray
      );
    }

    div {
      p {
        color: $red-a;

        svg {
          color: $red-h;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    .popup {
      textarea {
        width: 220px;
        font-size: 15px;
      }

      div {
        .send {
          width: 110px;
        }

        .cancel {
          @include regular-btn($violet, $white-a, 13px, 18px, 9px);
        }

        p {
          font-size: 10px;

          svg {
            font-size: 15px;
          }
        }
      }
    }
  }
}
