@import '/index.scss';

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;

  .number {
    font-size: 14vw;
    color: $gray;
  }

  .message {
    font-size: 23px;
    margin-top: 20px;
    color: $gray-h;
  }
}

.darkError {
  .number {
    color: $white-h;
  }

  .message {
    color: $white;
  }
}
