@import '/index.scss';

.content {
  margin-top: 100px;

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;

    .title {
      @extend %title;
    }

    .description {
      @extend %description;
    }
  }

  &__darkText {
    .title {
      color: $white-h;
    }

    .description {
      color: $white;
    }
  }

  .section {
    margin-top: 100px;

    .title {
      font-size: 60px;
      color: $gray;
    }

    .titled {
      color: $blue;
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 17px;
    }

    .description {
      color: $gray-h;
      font-size: 15px;
      margin-top: 20px;
      text-wrap: balance;
    }
  }

  .darkSection {
    .title {
      color: $white-h;
    }

    .titled {
      color: $blue-a;
    }

    .description {
      color: $white;
    }
  }
}

@media (max-width: 800px) {
  .content {
    &__text {
      .title {
        font-size: 10vw;
      }

      .description {
        font-size: 15px;
      }
    }

    .section {
      .title {
        font-size: 7vw;
      }

      .titled {
        font-size: 16px;
        margin-bottom: 25px;
      }

      .description {
        margin-top: 15px;
        font-size: 12px;
      }
    }
  }
}
