@import '/index.scss';

.content {
  margin-top: 100px;

  .nothingFound {
    font-size: 20px;
    text-align: center;
    color: $gray;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;

    .product {
      width: 280px;
      position: relative;

      .border {
        @include product-border($gray-h);
      }

      @extend %product-img;

      @extend %product-text;

      @extend %product-btn;
    }
  }

  .loadMoreButton {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    @include regular-btn($blue, $white-a, 17px, 20px, 10px);
    @include hover-btn($blue-h);
    @include active-btn($blue-a);
    @include media-btn($blue);
  }

  .isLoadingBtn {
    opacity: 0.5;
    cursor: auto;
    @include regular-btn($blue, $white-a, 17px, 20px, 10px);
    @include hover-btn($blue);
    @include active-btn($blue);
    @include media-btn($blue);
  }

  .popupContent {
    @extend %popup-content;
  }
}

.darkContent {
  .nothingFound {
    color: $white-h;
  }

  .products {
    .product {
      .border {
        @include product-border($white);
      }

      .makeModel {
        color: $white-h;

        span {
          color: $white;
        }
      }

      .productType {
        color: $white-h;
      }

      .price {
        color: $white-h;
      }
    }
  }

  .popupContent {
    .title {
      color: $white-h;
    }

    .titled {
      color: $white;
    }
  }
}
